/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 1, 2018, 9:44:39 AM
    Author     : DELL
*/
.root {
     -fx-background-image: url("Images/background.jpg");
     -fx-background-size: 600 600;
    -fx-background-position: center center;
}
.button{
     -fx-text-fill: white;
    -fx-font-family: "cursive";
    -fx-font-size: 30;
    -fx-padding: 20;
    -fx-font-weight: bolder;
    -fx-background-color: linear-gradient(to right, red , yellowgreen);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.button:hover {
    -fx-background-color: linear-gradient(red, orange);
}

